<div class="lists-container">
  <div class="row">
    <% lists.each do |list| %>
      <%= render 'lists/show', list: list %>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to 'New List', new_project_list_path(project_id: project.id) %>
  </div>
</div>