<% if user_signed_in? %>
<% else %>
  <div class="panel panel-default">
    <h2 style="text-align: center"t>KANBAN APPLICATION</h2>
    <div class="panel-body" style="text-align: center">
      Ruby on Rails application for project management support<br><br>
    </div>
    <div class="panel-footer"><div style="text-align: center"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg active" %></div><br><div style="text-align: center"><%= link_to "Sign in", new_user_session_path %></div> 
  </div>
<% end %>