<div class="panel panel-default">
  <div class="panel-heading"><h2>Personal Projects</h2></div>
  <div class="row">
    <% @projects.each do |project| %>
      <% if project.user == current_user %>
        <%= link_to project_path(project) do %>
          <div class="project-container col-lg-4" id="<%= project.id %>">
            <div project-title><h2 style="color:black"><%= project.title %></h2></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to new_project_path(@project) do %>
      <div class="new-project-container col-lg-4">
        <h3 style="color:#808080">New project...</h3>
      </div>
    <% end %>
  </div>
</div>