<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Create Project</h2>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', projects_path %>
  </div>
</div>