<div class="panel panel-default">
  <div class="row">
    <div class="panel-heading">
      <h1>
        <%= @project.try(:title) %>
      </h1>
    </div>

    <%# lists przekazywane do partiala jako zmienna lokalna(bez malpy) %>
    <%= render 'lists/index', lists: @project.lists %>
  </div>
</div>