<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= @project.try(:title) %>
    </h1>
  </div>
  <div class="row">
    <%# lists przekazywane do partiala jako zmienna lokalna(bez malpy) %>
    <%= render 'lists/index', project: @project, lists: @project.lists %>
  </div>
  <div class="panel-footer">
    <%= link_to 'New List', new_project_list_path(project_id: @project.id) %>
  </div>
</div>