// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  margin: 20px;
}

.list-container {
  margin-top: 20px;
  margin-left: 0px;
  height: auto;
}

.descr {
  margin: 10px;
}

.panel.panel-default.card {
  margin: 20px;
}

.descr-card {
  margin: 5px;
}

.panel-heading.list {
  height: auto;
}

h4 {
  margin: 5px;
}

h5 {
  margin: 0px;
}

.panel-heading.card {
  height: auto;
}